body {
  margin: 0;
  padding: 0;
  background-color: #D9E5FF;
}

/* ヘッダー */
header {
  width: 100vw;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.678) 0%, rgba(0, 0, 192, 0.822) 100%);
}


#menu {
  display: flex;
  padding: 0;
}

#mainTitole {
  flex-basis: 50%;
  margin: auto 0;
  /* 上下中央寄せ */
  padding: 1%;
}

.nav {
  width: 23%;
}

.nav_list {
  margin: 5px;
}

li {
  list-style: none;
  margin: auto 0;
  /* 上下中央寄せ */
}

.supervisor {
  font-size: 80%;
  width: 13%;
  text-align: center;
}

#logout {
  background-color: #0000FF;
  color: #FFFFF0;
  border-radius: 10px;
  padding: 8px;
  /* flex-basis: 10%; */
  float: right;
  margin-right: 3%;

}

/* フッダー */
footer {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.678) 0%, rgba(0, 0, 192, 0.822) 100%);
}

footer p {
  width: 100vw;
  margin: 0;
}
