#title {
  margin: 1% 10%;
}

#general {
  display: flex;
  justify-content: center;
}

.requestMenu {
  margin: 3%;
  padding: 3%;
  font-size: 20px;
  background-color: #C2EEFF;
  /* 角を丸くする */
  border-radius: 10px;
  list-style: none;
}

main a {
  /* アンカーの下線消し */
  text-decoration: none;
  color: #5D99FF;
}
