#title {
  margin: 1% 10%;
}

#button {
  text-align: center;
}

#updateForm {
  text-align: center;
}

#YearAndMonth {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  gap: 0 10px;
  font-size: 120%;
  margin: 2% 0;
}

.message {
  font-size: 24px;
  /* メッセージのフォントサイズ */
  text-align: center;
  /* メッセージを中央揃え */
  margin-top: 10%;
  /* 上部の余白 */
}

#back {
  display: flex;
  justify-content: center;
  gap: 10%;
  /* 余白 */
}

.button {
  padding: 10px;
  background-color: #CCCCFF;
}

p a {
  /* アンカーの下線消し */
  text-decoration: none;
  color: #0000FF;
}


#topBack {
  /* アンカーの下線消し */
  text-decoration: none;
  padding: 10px;
  background-color: #CCCCFF;
  color: #0000FF;
}
