#title {
  margin: 1% 10%;
}

table {
  border-collapse: collapse;
  /* 中央配置 */
  margin: 10px auto;
  text-align: center;
  width: 80%;
  background-color: #CCFFCC;
}

#YearAndMonth {
  padding: 10px 5%;
  background-color: cornflowerblue;
}

#timeSheet {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0px 15px;
  /* 余白 */
  margin: 2% 0;
}

.message {
  font-size: 24px;
  /* メッセージのフォントサイズ */
  text-align: center;
  /* メッセージを中央揃え */
  margin-top: 10%;
  /* 上部の余白 */
}

th,
td {
  border: 1px solid #dddddd;
}

th {
  background-color: #f2f2f2;
}

#button {
  text-align: center;
}

#topBack {
  /* アンカーの下線消し */
  text-decoration: none;
  padding: 10px;
  background-color: #CCCCFF;
  color: #0000FF;
}
